게시판
<%for(i = 0; i < posts.length; ++i){%>
<div>
    <div>
        <span>pid</span>
        <span><%=posts[i].pid%></span>
    </div>
    <div>
        <span>writer</span>
        <span><%=posts[i].writer%></span>
    </div>
    <div>
        <span>writer_name</span>
        <span><%=posts[i].writer_name%></span>
    </div>
    <div>
        <span>category</span>
        <span><%=posts[i].category%></span>
    </div>
    <div>
        <span>category_name</span>
        <span><%=posts[i].category_name%></span>
    </div>
    <div>
        <span>format</span>
        <span><%=posts[i].format%></span>
    </div>
    <div>
        <span>format_name</span>
        <span><%=posts[i].format_name%></span>
    </div>
    <div>
        <span>views</span>
        <span><%=posts[i].views%></span>
    </div>
    <div>
        <span>likes</span>
        <span><%=posts[i].likes%></span>
    </div>
    <div>
        <span>downloads</span>
        <span><%=posts[i].downloads%></span>
    </div>
    <div>
        <span>title</span>
        <span><%=posts[i].title%></span>
    </div>
    <div>
        <span>price</span>
        <span><%=posts[i].price%></span>
    </div>
    <div>
        <span>description</span>
        <span><%=posts[i].description%></span>
    </div>
</div>
<hr>
<%}%>