게시물 수정
<div>
    <div>
        <span>pid</span>
        <span><%=post.pid%></span>
    </div>
    <div>
        <span>writer</span>
        <span><%=post.writer%></span>
    </div>
    <div>
        <span>writer_name</span>
        <span><%=post.writer_name%></span>
    </div>
    <div>
        <span>category</span>
        <span><%=post.category%></span>
    </div>
    <div>
        <span>category_name</span>
        <span><%=post.category_name%></span>
    </div>
    <div>
        <span>format</span>
        <span><%=post.format%></span>
    </div>
    <div>
        <span>format_name</span>
        <span><%=post.format_name%></span>
    </div>
    <div>
        <span>views</span>
        <span><%=post.views%></span>
    </div>
    <div>
        <span>likes</span>
        <span><%=post.likes%></span>
    </div>
    <div>
        <span>downloads</span>
        <span><%=post.downloads%></span>
    </div>
    <div>
        <span>title</span>
        <span><%=post.title%></span>
    </div>
    <div>
        <span>price</span>
        <span><%=post.price%></span>
    </div>
    <div>
        <span>description</span>
        <span><%=post.description%></span>
    </div>
</div>